body{
    overflow: auto !important;
}

.governance-inner-container{
    margin:10px 40px;
}

@media (max-width: 767px) {
    .governance-inner-container{
        margin:0;
    }
}





/********************/
/*Evolution data Bar*/
/********************/

/*default size*/
.evolution-bar .evolution-data-total{
    width:60px;
    font-weight:bold;
    font-size: 1.6em;
}

.evolution-bar .evolution-data-delta{
    width:50px;
    font-size: 0.8em;
}


.evolution-data-delta .negative-delta{
    color: red;
}

/*big size*/
.evolution-bar-big .evolution-data-total{
    width:60px;
    font-weight:bold;
    font-size: 2.4em;
}

.evolution-bar-big .evolution-data-delta{
    width:50px;
    font-size: 1em;
}
