body{
    overflow: auto !important;
}

.governance-inner-container{
    margin:10px 40px;
}

@media (max-width: 767px) {
    .governance-inner-container{
        margin:0;
    }
}






/*Evolution data Bar*/
.evolution-bar > .evolution-data-total{
    width:60px;
    font-weight:bold;
    font-size: 1.4em;
}

.evolution-bar > .evolution-data-delta{
    width:30px;
    font-size: 0.8em;
}

.evolution-bar > .evolution-data-weight{
    width:50px;
    font-size: 0.8em;
}

.evolution-bar > .negative-delta{
    color: red;
}
